.cases {
  margin-bottom: 36px;
}

.title {
  width: 264px;
  font-family: Oswald;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.slider_bar {
  position: relative;
}

.container {
  z-index: 11;
  display: flex;
  position: absolute;
  right: 0;
  top: 7px;
  gap: 12px;
}

.arrow {
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.arrow_container {
  width: 66px;
  height: 66px;
  border-radius: 100px;
  border: 1px solid var(--primary-color);
  display: inline-flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  transition: border-color 0.4s ease;
}

.arrow_container:hover .arrow,
.arrow_container:focus .arrow {
  color: var(--secondary-color);
  transition: color 0.4s ease;
}

.arrow_container:hover,
.arrow_container:focus {
  border-color: var(--secondary-color);
  transition: border-color 0.4s ease;
}

@media (min-width: 768px) {
  .container {
    top: 8px;
  }

  .cases {
    position: relative;
    margin-bottom: 100px;
  }

  .title {
    position: absolute;
    font-size: 36px;
    margin-bottom: 0;
    top: 0;
  }

  .cases::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 5px;
    height: 65px;
    width: 1px;
    background-color: var(--secondary-color);
  }
}

@media (min-width: 1280px) {
  .container {
    top: 30px;
  }

  .cases {
    margin-bottom: 120px;
  }

  .title {
    width: 398px;
    font-size: 48px;
  }

  .cases::after {
    height: 96px;
  }
}
