.arrow {
  width: 16px;
  color: var(--primary-color);
}

.arrow_container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
