.electricity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.title {
  text-align: center;
  font-family: Oswald;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 96px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -72px;
  display: block;
  width: 1px;
  height: 48px;
  background-color: var(--secondary-color);
}

.counter {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0 auto;
}

.count {
  color: var(--secondary-color);
  text-align: center;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.kWh {
  text-align: center;
  font-family: Oswald;
  font-size: 24px;
  line-height: 1;
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
    width: 368px;
    margin-bottom: 135px;
  }

  .title::after {
    height: 87px;
    bottom: -112px;
  }

  .count {
    font-size: 100px;
  }

  .kWh {
    font-size: 28px;
  }

  .counter {
    gap: 24px;
  }

  .electricity {
    margin-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .electricity {
    margin-bottom: 120px;
  }

  .title {
    font-size: 48px;
    width: 491px;
    margin-bottom: 120px;
  }

  .title::after {
    bottom: -112px;
  }

  .count {
    font-size: 164px;
  }

  .kWh {
    font-size: 48px;
  }
}
