.about {
  display: flex;
  flex-direction: column;
}

.adress {
  letter-spacing: -0.64px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.mail {
  color: var(--primary-color);
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

.img {
  margin-bottom: 36px;
}

.title {
  font-family: Oswald;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.text {
  margin-bottom: 36px;
  text-align: justify;
  letter-spacing: -0.64px;
}

.values_list {
  display: grid;
  gap: 24px;
  /* grid-template-columns: repeat(auto-fill, minmax(148px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 197px;
  margin-bottom: 36px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .values_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .values_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  padding: 13px 12px;
  background-color: var(--secondary-bg-color);
  flex-grow: 1;
}

.item_content {
  display: flex;
  gap: 8px;
  margin-bottom: 33px;
  position: relative;
}

.item_content::after {
  content: "";
  position: absolute;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
}

.subtitle {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

.value {
  text-align: justify;
  font-size: 14px;
  letter-spacing: -0.56px;
  padding-top: 12px;
}

.icon {
  width: 16px;
  color: var(--primary-color);
}

.item_img1,
.item_img2 {
  display: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .item_img1 {
    display: block;
    background-image: url(../../assets/image/wind-farms-fields-tab-1x.png);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
  }

  .item_img2 {
    display: block;
    background-image: url(../../assets/image//man-worker-firld-by-solar-panels-tab-1x.png);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .item_img1 {
      background-image: url(../../assets/image/wind-farms-fields-tab-2x.png);
    }

    .item_img2 {
      background-image: url(../../assets/image//man-worker-firld-by-solar-panels-tab-2x.png);
    }
  }
}

@media (min-width: 1280px) {
  .item_img1 {
    display: block;
    background-image: url(../../assets/image/wind-farms-fields-1x.png);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
  }

  .item_img2 {
    display: block;
    background-image: url(../../assets/image//man-worker-firld-by-solar-panels-1x.png);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .item_img1 {
      background-image: url(../../assets/image/wind-farms-fields-2x.png);
    }

    .item_img2 {
      background-image: url(../../assets/image//man-worker-firld-by-solar-panels-2x.png);
    }
  }
}
