.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0;
  gap: 24px;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 19px;
}

.arrow {
  width: 16px;
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.arrow_container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease;
}

.adress {
  letter-spacing: -0.64px;
}

.mail {
  color: var(--primary-color);
  letter-spacing: -0.64px;
}

.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.soc_link {
  line-height: 0;
}

.soc {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.soc:hover .icon {
  color: var(--secondary-color);
  transition: color 0.4s ease;
}

.soc_list {
  display: flex;
  margin: 0 auto;
  gap: 8px;
}

.arrow_container:hover .arrow,
.arrow_container:focus .arrow {
  color: var(--secondary-color);
  transition: color 0.4s ease;
}

.arrow_container:hover,
.arrow_container:focus {
  background-color: var(--primary-color);
  transition: background-color 0.4s ease;
}

@media (min-width: 768px) {
  .footer {
    position: relative;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .logo {
    grid-row: 1;
    grid-column: 1;
  }

  .soc_list {
    grid-column: 2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
  }

  .footer_content {
    flex-direction: row;
    grid-column: span 2;
    gap: 0;
  }

  .mail {
    margin: 0 50px 0 77px;
  }

  .arrow_container {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1280px) {
  .mail {
    margin: 0 167px 0 auto;
  }

  .soc_list {
    margin-left: auto;
    margin-right: 403px;
  }
}
